html, body {
    height: 100%;
    margin: 0;
}

.mainGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardGame {
    display: grid;

    @media (orientation: landscape) {
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(3, 20vmin);}

    @media (orientation: portrait) {
        grid-template-columns: repeat(3, 30vmin);
        grid-template-rows: repeat(4, 30vmin);}
    gap: 5px;
}
.memoryCard {
    border: solid black 1px;
    background-size: cover;
}

img {
    max-height: 350px;
}